<ul class="grid-personajes">
    <li *ngFor="let p of personajes"
    (click)="seleccionPersonaje(p)">
        <app-card>
            <img card-img [src]="p.image">
        </app-card>
    </li>
</ul>

<app-modal #modal>
    <h3 modal-title>CACHIPUN!</h3>
    <button (click)="limpiarPersonajes()">Limpiar</button>
    <div *ngIf="personaje1 && personaje2">
        <app-competencia-personajes 
            [personaje1]="personaje1"
            [personaje2]="personaje2">
        </app-competencia-personajes>
    </div>
</app-modal>