.fondo-fuego {
  display: flex;
  justify-content: center;  
  align-items: center;      
  width: 500px;
  height: 500px;
  background-image: url('/assets/images/fuego.png');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;  
}