.grid-personajes {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.card-personaje {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  display: flex;             
  align-items: center;
  justify-content: center;
  overflow: hidden;            
  border-radius: 8px;    
}

.card-personaje img {
  width: 100%;
  height: 100%;
  object-fit: cover;           
  object-position: center;     
  border-radius: 6px;
}