<div class="column">
    <div>
        <input #inputCiudad type="string" placeholder="Ingresa una ciudad">
        <button (click)="traerDatosCiudad(inputCiudad.value)">Enviar</button>
    </div>

    <ng-container *ngIf="ciudad && estado; else error"> 
        La temperatura en {{ ciudad.name }} es de: {{ ciudad.main.temp }}
    </ng-container>
    
    <ng-template #error>
        No se pudo obtener datos de la API :c
    </ng-template>
</div>

<button (click)="estado = !estado">Abrir/Destruir</button>

<div *ngIf="estado">
    <app-random-value></app-random-value>
</div>