<div class="column">
    <div class="versus">
        <div class="column">
            <app-card *ngIf="personaje1">
                <h3 card-title>{{ personaje1.name }}</h3>
                <img card-img [src]="personaje1.image">
            </app-card>
            <div style="margin: 10px;">
                {{ opcion1 }}
            </div>
        </div>
        <h2>V/S</h2>
        <div class="column">
            <app-card *ngIf="personaje2">
                <h3 card-title>{{ personaje2.name }}</h3>
                <img card-img [src]="personaje2.image">
            </app-card>
            <div style="margin: 10px;">
                {{ opcion1 }}
            </div>
        </div>
    </div>

    <button #botonJugar (click)="jugarCachipun()">Jugar!</button>
    <h1 *ngIf="ganador">{{ ganador }}</h1>
</div>